# Example of .env file
# Please rename this file to .env and fill in the placeholders.

# Workflow settings
TOPIC="petrichor"
MAX_RESEARCH_LOOPS=10      # Number of search-summary-reflection loops
MAX_WEB_SEARCH_RESULTS=5   # Number of results in a single web search
SEARCH_ENGINE="duckduckgo" # Either duckduckgo or tavily

# API keys
TAVILY_API_KEY="YOUR-API-KEY"
GEMINI_API_KEY="YOUR-API-KEY"
LOGFIRE_TOKEN="YOUR-API-KEY"
RIZA_API_KEY="YOUR-API-KEY"
OPENAI_API_KEY="YOUR-API-KEY"
WEATHER_API_KEY="YOUR-API-KEY"
GEO_API_KEY="YOUR-API-KEY"
ANTHROPIC_API_KEY="YOUR-API-KEY"
BRAVE_API_KEY="YOUR-API-KEY"
PERPLEXITY_API_KEY="YOUR-API-KEY"
