interactions:
- request:
    body: '{"q": "petrichor", "num": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://google.serper.dev/search
  response:
    body:
      string: "{\"searchParameters\":{\"q\":\"petrichor\",\"type\":\"search\",\"num\":3,\"engine\":\"google\"},\"organic\":[{\"title\":\"Petrichor
        - Wikipedia\",\"link\":\"https://en.wikipedia.org/wiki/Petrichor\",\"snippet\":\"Petrichor
        is the earthy scent produced when rain falls on dry soil. The word was coined
        in 1964 by scientists Isabel Joy Bear and Richard Grenfell Thomas ...\",\"position\":1},{\"title\":\"PETRICHOR
        Definition & Meaning - Merriam-Webster\",\"link\":\"https://www.merriam-webster.com/dictionary/petrichor\",\"snippet\":\"The
        meaning of PETRICHOR is a distinctive, earthy, usually pleasant odor that
        is associated with rainfall especially when following a warm, dry period and
        ...\",\"position\":2},{\"title\":\"[PDF] Petrichor - The Smell of Rain\",\"link\":\"https://www.acs.org/content/dam/acsorg/education/students/highschool/chemistryclubs/infographics/petrichor-the-smell-of-rain.pdf\",\"snippet\":\"What
        is Petrichor? Actinomycetes, a type of bacteria found in soil, secrete a compound
        called geosmin, which is released from soil into the air by raindrops ...\",\"position\":3}],\"peopleAlsoAsk\":[{\"question\":\"What
        is a petrichor lover called?\",\"snippet\":\"Next time it rains where you
        live, inhale some petrichor deeply. Or better yet, be a pluviophile \u2014
        a rain lover.\",\"title\":\"Petrichor. The vanilla-like smell after rain |
        by Dr. Seema Patel (PhD)\",\"link\":\"https://medium.com/write-a-catalyst/petrichor-7eeb9a98a92a\"}],\"relatedSearches\":[{\"query\":\"Petrichor
        perfume\"},{\"query\":\"Petrichor pronunciation\"},{\"query\":\"Petrichor
        ozone\"},{\"query\":\"Petrichor smell\"},{\"query\":\"Petrichor candle\"},{\"query\":\"Petrichor
        in a sentence\"},{\"query\":\"Petrichor etymology\"},{\"query\":\"Petrichor
        the series\"}],\"credits\":1}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cloud-trace-context:
      - 5f90ccf131f9946a4bf893a5c6305aeb
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1761555015'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/wiki/Petrichor
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"client-nojs vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled
        vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1
        vector-feature-night-mode-enabled skin-theme-clientpref-day vector-sticky-header-enabled
        vector-toc-available\" lang=\"en\" dir=\"ltr\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Petrichor
        - Wikipedia</title>\n<script>(function(){var className=\"client-js vector-feature-language-in-header-enabled
        vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled
        vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled
        vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled
        vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1
        vector-feature-night-mode-enabled skin-theme-clientpref-day vector-sticky-header-enabled
        vector-toc-available\";var cookie=document.cookie.match(/(?:^|; )enwikimwclientpreferences=([^;]+)/);if(cookie){cookie[1].split('%2C').forEach(function(pref){className=className.replace(new
        RegExp('(^| )'+pref.replace(/-clientpref-\\w+$|[^\\w-]+/g,'')+'-clientpref-\\\\w+(
        |$)'),'$1'+pref+'$2');});}document.documentElement.className=className;}());RLCONF={\"wgBreakFrames\":false,\"wgSeparatorTransformTable\":[\"\",\"\"],\"wgDigitTransformTable\":[\"\",\"\"],\"wgDefaultDateFormat\":\"dmy\",\"wgMonthNames\":[\"\",\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"],\"wgRequestId\":\"bd7f08eb-9fe7-46d0-abda-495da271a4d6\",\"wgCanonicalNamespace\":\"\",\"wgCanonicalSpecialPageName\":false,\"wgNamespaceNumber\":0,\"wgPageName\":\"Petrichor\",\"wgTitle\":\"Petrichor\",\"wgCurRevisionId\":1317777682,\"wgRevisionId\":1317777682,\"wgArticleId\":1620257,\"wgIsArticle\":true,\"wgIsRedirect\":false,\"wgAction\":\"view\",\"wgUserName\":null,\"wgUserGroups\":[\"*\"],\"wgCategories\":[\"CS1:
        long volume value\",\"Articles with short description\",\"Short description
        matches Wikidata\",\"Commons category link from Wikidata\",\"1964 neologisms\",\"Rain\",\"Olfaction\",\"Precipitation\",\"Soil\"],\"wgPageViewLanguage\":\"en\",\"wgPageContentLanguage\":\"en\",\"wgPageContentModel\":\"wikitext\",\"wgRelevantPageName\":\"Petrichor\",\"wgRelevantArticleId\":1620257,\"wgIsProbablyEditable\":true,\"wgRelevantPageIsProbablyEditable\":true,\"wgRestrictionEdit\":[],\"wgRestrictionMove\":[],\"wgNoticeProject\":\"wikipedia\",\"wgFlaggedRevsParams\":{\"tags\":{\"status\":{\"levels\":1}}},\"wgMediaViewerOnClick\":true,\"wgMediaViewerEnabledByDefault\":true,\"wgPopupsFlags\":0,\"wgVisualEditor\":{\"pageLanguageCode\":\"en\",\"pageLanguageDir\":\"ltr\",\"pageVariantFallbacks\":\"en\"},\"wgMFDisplayWikibaseDescriptions\":{\"search\":true,\"watchlist\":true,\"tagline\":false,\"nearby\":true},\"wgWMESchemaEditAttemptStepOversample\":false,\"wgWMEPageLength\":10000,\"wgMetricsPlatformUserExperiments\":{\"active_experiments\":[],\"overrides\":[],\"enrolled\":[],\"assigned\":[],\"subject_ids\":[],\"sampling_units\":[]},\"wgEditSubmitButtonLabelPublish\":true,\"wgULSPosition\":\"interlanguage\",\"wgULSisCompactLinksEnabled\":false,\"wgVector2022LanguageInHeader\":true,\"wgULSisLanguageSelectorEmpty\":false,\"wgWikibaseItemId\":\"Q1787101\",\"wgCheckUserClientHintsHeadersJsApi\":[\"brands\",\"architecture\",\"bitness\",\"fullVersionList\",\"mobile\",\"model\",\"platform\",\"platformVersion\"],\"GEHomepageSuggestedEditsEnableTopics\":true,\"wgGESuggestedEditsTaskTypes\":{\"taskTypes\":[\"copyedit\",\"link-recommendation\"],\"unavailableTaskTypes\":[]},\"wgGETopicsMatchModeEnabled\":false,\"wgGELevelingUpEnabledForUser\":false};\nRLSTATE={\"ext.globalCssJs.user.styles\":\"ready\",\"site.styles\":\"ready\",\"user.styles\":\"ready\",\"ext.globalCssJs.user\":\"ready\",\"user\":\"ready\",\"user.options\":\"loading\",\"ext.cite.styles\":\"ready\",\"ext.wikimediamessages.styles\":\"ready\",\"skins.vector.search.codex.styles\":\"ready\",\"skins.vector.styles\":\"ready\",\"skins.vector.icons\":\"ready\",\"ext.visualEditor.desktopArticleTarget.noscript\":\"ready\",\"ext.uls.interlanguage\":\"ready\",\"wikibase.client.init\":\"ready\"};RLPAGEMODULES=[\"ext.xLab\",\"ext.cite.ux-enhancements\",\"mediawiki.page.media\",\"site\",\"mediawiki.page.ready\",\"mediawiki.toc\",\"skins.vector.js\",\"ext.centralNotice.geoIP\",\"ext.centralNotice.startUp\",\"ext.gadget.ReferenceTooltips\",\"ext.gadget.switcher\",\"ext.urlShortener.toolbar\",\"ext.centralauth.centralautologin\",\"mmv.bootstrap\",\"ext.popups\",\"ext.visualEditor.desktopArticleTarget.init\",\"ext.visualEditor.targetLoader\",\"ext.echo.centralauth\",\"ext.eventLogging\",\"ext.wikimediaEvents\",\"ext.navigationTiming\",\"ext.uls.interface\",\"ext.cx.eventlogging.campaigns\",\"ext.cx.uls.quick.actions\",\"wikibase.client.vector-2022\",\"ext.checkUser.clientHints\",\"ext.growthExperiments.SuggestedEditSession\"];</script>\n<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.impl(function(){return[\"user.options@12s5i\",function($,jQuery,require,module){mw.user.tokens.set({\"patrolToken\":\"+\\\\\",\"watchToken\":\"+\\\\\",\"csrfToken\":\"+\\\\\"});\n}];});});</script>\n<link
        rel=\"stylesheet\" href=\"/w/load.php?lang=en&amp;modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediamessages.styles%7Cskins.vector.icons%2Cstyles%7Cskins.vector.search.codex.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022\">\n<script
        async=\"\" src=\"/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022\"></script>\n<meta
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.merriam-webster.com/dictionary/petrichor
  response:
    body:
      string: !!binary |
        VfBXWRTStNqrh89EChsHAADV97BclN1HFAAAhOoBACDd7wFQtUjIvGD1x68///z35wYGMO5+AACA
        YDSZLSytrG1s7ewdHJ2cXVzd3D08vbx9fP38/Wem9p3blxNCl/XF9gMEgNzVyu7u/ScV568ujwsk
        HiXEJMAQoJcwrJrbac6H+VMrq/fHsbCqyJDYCaAeToKZq4op9TFnX3doFSABHiuApAgykxSXHeOv
        +8P/8S3zW+b87/tb/9/Dz9c2cy9phxD6ephxKeJjBPUI6jnH5eLEJq3V0jJNAB2sX+9bvuZMo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acs.org/content/dam/acsorg/education/students/highschool/chemistryclubs/infographics/petrichor-the-smell-of-rain.pdf
  response:
    body:
      string: !!binary |
        JVBERi0xLjcNJeLjz9MNCjMzIDAgb2JqCjw8L0Fjcm9Gb3JtIDE0NzcgMCBSL01ldGFkYXRhIDE1
        MDcgMCBSL1BhZ2VzIDMwIDAgUi9TdHJ1Y3RUcmVlUm9vdCAxMCAwIFIvVHlwZS9DYXRhbG9nPj4K
        ZW5kb2JqCjE0NzcgMCBvYmoKPDwvREEoL0hlbHYgMCBUZiAwIGcgKS9EUjw8L0VuY29kaW5nPDwv
     [...]
